
@model ASP_NET_MVC_Labb2.Models.InformationViewModel

@{
    ViewData["Title"] = "Om sidan";
}

<h1>@ViewData["Title"]</h1>

<h3>@(ViewBag.Username != null ? $"Välkommen, {ViewBag.Username}!" : "Välkommen!")</h3>

<p>@Model.InformationalText</p>
